# bot
BOT_TOKEN=

# logging
LOGGING_LEVEL=
LOGGING_FORMAT=

# postgresql
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_DRIVER=

#redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_DB=